.search-group {
    border-radius: 5%;
    background-color: #F2F3F5; 
}


.navbar-nav  .nav-item {
    margin-right:10px;
}

.search-group-input{
    background-color: #F2F3F5;
    border: none;

}
.search-group-btn{
    border-radius: 0;
    background-color: #F2F3F5;
    
}
.search-group-btn:hover{
    background-color: #EC5252;
    color: white
}
.search-group-btn{
    color:#EC5252;
}
.search-group:hover .search-group-input{ 
    background-color: white;
    
    
}

.cart-icon{
    font-size: 20px;
    color:#EC5252;
}
/*  instructor*/
 /* Dropdown Button */
 .dropbtnRight {
    color: white;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownRight {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownRight-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 2%;
    background-color: white;
    height: 100px;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  /* Links inside the dropdown */
  .dropdownRight-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    color: red;
  }
  
  /* Change color of dropdown links on hover */
  .dropdownRight-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdownRight:hover .dropdownRight-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownRight:hover .dropbtnRight {background-color: #3e8e41;} 
  .dropdownRight-text{
      font-size: 16px;
      font-weight: 200;
  }
  /* Button */
.btn-login{
    color: black;
    background-color: white;
    border: 1px solid black
}
.btn-signup{
    color: white;
    background-color: #EC5252;
}

