 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#F6F8F8; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
    color:black
  }
  .sidenav .card-header{
    background: #ffffff;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #69BE69;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #openNav{
    color: #69BE69;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    
  }
  .blur{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(25, 226, 226, 0.89));
    /* opacity: 0; */
    height: 120%;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    z-index: -1;
    /* overflow: hidden; */

  }
  #main .video{
    position: relative;
    
  }
  #main .video-header{
    position: absolute;
    width: 52px;
    background-color: #444;
    height: 50px;
    z-index:3;
    text-align: center;
    color: #69BE69;
  }
  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    z-index:2;
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.fa-play-circle{
  color: #69BE69;
}
  #openNav{
    
    font-size:30px;
  }
   /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent!important;
  /* color: #444; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.sidenav a.card-link{
  font-size:26px;
  color:#686f7a;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}
/* Câu hỏi */
.comment-section{
  list-style: none;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
}

.comment{
  display: flex;
  border-radius: 3px;
  /* margin-bottom: 45px; */
  flex-wrap: wrap;
}

.comment.user-comment{
  color:  #808080;
}

/* User and time info */

.comment .info{
  width: 17%;
}

.comment.user-comment .info{
  text-align: right;
}

.comment.author-comment .info{
  order: 3;
}


.comment .info a{	/* User name */
  display: block;
  text-decoration: none;
  color: #656c71;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor:default;
  padding: 10px 0 3px 0;
}

.comment .info span{	/* Time */
  font-size: 11px;
  color:  #9ca7af;
}


/* The user avatar */

.comment .avatar{
  width: 19%;
}

.comment.user-comment .avatar{
  /* padding: 10px 18px 0 3px; */
}

.comment.author-comment .avatar{
  /* order: 2; */
  /* padding: 10px 3px 0 18px; */
}

.comment .avatar img{
  display: block;
  border-radius: 50%;
}

.comment.user-comment .avatar img{
  float: right;
}

/* The comment text */

.comment p.rate-content{
  line-height: 1.5;
  padding: 18px 22px;
  width: 100%;
  position: relative;
  word-wrap: break-word;
  margin-left: 30px;
}

.comment.user-comment p.rate-content{
  background-color:  #f3f3f3;
}


.btn-start{
  font-size:1.1rem;
  border-radius:10px!important;
  width: 100%;
  background:#FF3333;
  height: 3rem;
  line-height: 45px;
}
.user-comment p.rate-content:after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  left: -3px;
  top: -4px;
}
.comment h5.rate-content{
  line-height: 1.5;
  padding: 18px 22px;
  width: 100%;
  position: relative;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 1.2rem
}

.comment.user-comment h5.rate-content{
  background-color:  #ffffff;
}


.rate-delete{
  position: relative;

width: 15px;

height: 15px;

top: -59%;

font-size: 1.2rem;

color: red !important;

left: 97%;
  
}

.user-comment p:after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  left: -8px;
  top: 18px;
}
/* Comment form */

.write-new{
  margin: 10px auto auto;
/* width: 60%; */
}

.write-new textarea{
  color:  #444;
  font: inherit;

  outline: 0;
  border-radius: 3px;
  border: 1px solid #cecece;
  background-color:  #fefefe;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;

  width:100%;
  min-height: 80px;
  padding: 15px 20px;
}

.write-new img{
  border-radius: 50%;
  margin-top: 15px;
}
h1{
  font-size:30px;
  color: #5cb85c;
  font-weight: 300;


}
h3{
  font-size:25px;
  color: #246523;
  font-weight: 300;
}
.write-new button{
  float:right;
  background-color:  #87bae1;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  padding: 10px 25px;
  margin-top: 18px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 12px;}
  }
  @media screen and (max-width: 1200px) {
    .sidenav a {font-size: 12px;}
    .sidenav a.card-link {font-size: 15px;}
  }
  @media screen and (max-width: 992px) {
    .sidenav a {font-size: 12px;}
    .sidenav a.card-link {font-size: 15px;}
  }
  @media screen and (max-width: 767px) {
    .sidenav a {font-size: 12px;}
    .sidenav a.card-link {font-size: 15px;}
  
  }
  @media screen and (max-width: 480px) {
    .sidenav a {font-size: 12px;}
    .sidenav a.card-link {font-size: 15px;}

  }
  
  
    
