.cover {
  background-image: url("../../../../../assets/img/048e0cdc-3e71-47dc-ae30-e9ac7a3504b5.jpg");
  position: relative;
 /* background-attachment: fixed;
  */
 /* background-size: contain;
  */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 380px;
}
.cover .cover_container {
  max-width: 500px;
  position: absolute;
  top: 10%;
  left: 11%;
}
.cover .cover_container .cover__title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
.cover .cover_container .cover__detail {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
.cover .cover_container .form__cover_search input {
  background-color: #fff;
  font-size: 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-right: 1px solid transparent;
  padding: 12px 15px;
}
.cover .cover_container .form__cover_search input:focus {
  border: 1px solid #fff;
  box-shadow: none;
}
.cover .cover_container .form__cover_search .input-group-text {
  background-color: #fff;
  font-size: 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: none;
  cursor: pointer;
}
.cover .cover_container .form__cover_search .input-group-text i {
  color: #ec5252;
}
.cover .cover_container .form__cover_search .input-group-text:hover {
  background-color: #ec5252;
}
.cover .cover_container .form__cover_search .input-group-text:hover i {
  color: #fff;
}
.course-btn-search {
  box-shadow: none;
  position: relative;
  right: -92%;
  bottom: 37px;
  background: transparent;
  color: #f26c4f!important;
  font-size: 20px;
  padding: 6px 20px;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .cover .cover_container {
      left: 15%;
 }
  .cover{
      padding-bottom:70%;
      padding-right: 30%;
 }
 .course-btn-search {
  box-shadow: none;
  position: relative;
  right: -89%;
  bottom: 38px;
  background: transparent;
  color: #f26c4f!important;
  font-size: 20px;
  padding: 6px 20px;
  z-index: 3;
}
}

/* Intro */
.intro {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  padding: 20px;
}
.intro .intro_content {
  width: 80%;
  margin: auto;
}
.intro .intro_content .intro_detail {
  flex-grow: 1;
  padding-top: 10px;
}
.intro .intro_content .intro_detail .intro_icon {
  width: 50px;
  margin-right: 25px;
}
.intro .intro_content .intro_detail .intro_icon i {
  font-size: 50px;
  color: #fff;
}
.intro .intro_content .intro_detail .intro_sub-detail b {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.intro .intro_content .intro_detail .intro_sub-detail p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
@media screen and (max-width: 1200px) {
  .intro .intro_content {
      width: 90%;
 }
  .intro .intro_content .intro_detail .intro_icon {
      width: 0px;
 }
  .intro .intro_content .intro_detail .intro_icon i {
      width: 0px;
      display: none;
 }
}
@media screen and (max-width: 768px) {
  .intro {
      display: none;
 }
}

/* Reason */
.course-reason {
  width: 100%;
  margin-bottom: 20px;
 margin-top: 20px;
 background-color: #dce6f5 
}
.course-reason h4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}
.reason-4 {
  text-align: center;
}
.img-reason img {
  margin: 0 auto;
}
.txt-reason {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.txt-reason span {
  display: block;
  font-size: 14px;
  font-weight: 100;
}

/* banner signup now */
.banner {
  background: url(https://www.khoahocdt.com/Logo.png) 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 42%);
  background-blend-mode: overlay;
  height: 380px;
  padding: 60px;
}
.banner h1 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}
.banner p {
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.banner button {
  margin: 10px 0;
}
/* Job */
.job {
  background:linear-gradient(42deg,#ffafbd  42%, #ffc3a0);
  padding-top: 20px;
}
.job .job_content {
  width: 60%;
  margin: auto;
}
.job .job_content .teaching {
  padding: 20px;
}
.job .job_content .teaching h1 {
  color: #505763;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .job .job_content {
      width: 80%;
 }
}
.button__signup {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  padding: 11px 12px;
}
.button__signup:hover {
  background-color: #521822;
}
