.tab-pane{
    padding-left: 20px;
    padding-right: 20px;
    
}
.left-col{
    
    margin-left: -61px;
    max-width: 226px;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
}
ul.flex-column  {
    
}
.flex-column li {
    margin-top: 20px;
    
}
.btn-lg{
    font-size: 1.2rem;
    padding: 15px 15px!important;
    height: 3.3rem;
}
ul{
    line-height: 2;
}
ul li a{
    font-size:17px;
    color:rgb(6, 247, 26);
    font-weight: bold;
    width: 100%;
}

li {
    margin-left: 10px; 
}
li:hover{
    color: white!important;
    background: cornflowerblue;
}
li:hover a{
    color: white!important;
    background: cornflowerblue;
}
a.active{
    color: white!important;

    display: block;
    background: cornflowerblue;

}
.card{
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 250px;
}
.course-col{
    margin-left:3rem;
}
@media only screen and (max-width:1239px){
    #course .card{
        margin-right: 20px;
        margin-bottom: 20px;
        min-width: 200px;
    }
    
}
@media only screen and (max-width:1039px){
    #course .card{
        margin-right: 25px;
        margin-bottom: 20px;
        min-width: 150px;
    }
     h4 {
        font-size: 1.2rem;
    }
    
}
@media only screen and (max-width:768px){
    #course .card{
        margin-right: 10px;
        margin-bottom: 20px;
        min-width: 150px;
    }
    .left-col{
        margin-left:0px;

    }
    .course-col{
        margin-left:0px;
        font-size: 13px;
    }
    h2{
        font-size:20px;
        font-weight: 600;
    }
    

}
