 footer {
    background-color: #2C3238;
    float: left;
    width: 100%;
  }
  
  .footer-widget-area {
    float: left;
    width: 100%;
    clear: both;
    padding: 85px 0 60px;
  }
  
  .footer-logo {
    display: block;
  }
  .footer-logo + .about-text {
    margin-top: 40px;
    color: black;
  }
  
  .footer-social {
    float: left;
    width: 100%;
    margin-top: 20px;
  }
  .footer-social .footer-social-title {
    margin: 0 0 20px 0;
  }
  
  .socials {
    float: left;
    width: 100%;
  }
  .socials a {
    display: inline-block;
    font-size: 1.5rem;
    color: #2C3238;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    float: left;
  }
  .socials a + a {
    margin-left: 15px;
  }
  .socials a:hover {
    background-color: rgb(59, 59, 245);
  }
  
  .widget {
    float: left;
    width: 100%;
  }
  .widget + .widget {
    margin-top: 35px;
  }
  .widget .widget-title {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 35px;
  }
  .widget .widget-inner {
    float: left;
    width: 100%;
  }
  .widget .widget-cat {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .widget .widget-cat .cat {
    display: block;
    float: left;
    width: 50%;
  }
  .widget .widget-cat .cat a {
    font-weight: 500;
    line-height: 2.57;
    color: #222222;
  }
  .widget .widget-cat .cat a:hover {
    color: #eb1436;
  }
  .widget.about-widget {
    margin-top: -15px;
  }
  .widget.newsletter-widget p {
    margin-bottom: 25px;
  }
  .widget.newsletter-widget .subscription {
    float: left;
    width: 100%;
    clear: both;
  }
  .widget.newsletter-widget .subscription [type=email] {
    border: 2px solid rgba(255, 255, 255, 0.15);
    line-height: 41px;
    height: 45px;
    padding: 0 15px;
    background-color: transparent;
    float: left;
    width: calc(100% - 70px);
    margin-right: 10px;
  }
  .widget.newsletter-widget .subscription [type=submit] {
    width: 60px;
    line-height: 41px;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    color: #eb1436;
    font-size: 1.8rem;
    background-color: transparent;
  }
  .widget.newsletter-widget .subscription ::-webkit-input-placeholder {
    color: #b4b4b4;
    opacity: 1;
  }
  .widget.newsletter-widget .subscription ::-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
  }
  .widget.newsletter-widget .subscription :-ms-input-placeholder {
    color: #b4b4b4;
    opacity: 1;
  }
  .widget.newsletter-widget .subscription :-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
  }
  .widget.app-widget .widget-title {
    margin-bottom: 20px;
  }
  .widget.app-widget .google-play-download {
    margin-right: 20px;
  }
  .widget.app-widget .google-play-download, .widget.app-widget .apple-store-download {
    display: inline-block;
    float: left;
  }
  
  .copyright-footer {
    float: left;
    width: 100%;
    clear: both;
    background-color: #222222;
    
  }
  .copyright-footer .container {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .copyright-footer .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .copyright-footer .footer-nav li {
    display: inline-block;
  }
  .copyright-footer .footer-nav li a {
    display: block;
    color: #b4b4b4;
  }
  .copyright-footer .footer-nav li a:hover {
    color: #eb1436;
  }
  .copyright-footer .footer-nav li + li a {
    margin-left: 20px;
  }
  .copyright-footer .copyright-text {
    margin: 0;
    text-align: right;
    color: #b4b4b4;
  }
  .copyright-footer .copyright-text a {
    color: inherit;
  }
  .copyright-footer .copyright-text a:hover {
    color: #eb1436;
  }
  
  .newsletter-success, .newsletter-error {
    display: none;
    margin-top: 12px;
    margin-bottom: 0 !important;
    padding: 3px 10px;
  }
  
  .newsletter-success {
    border: 1px solid #16a085;
  }
  
  .newsletter-error {
    border: 1px solid #eb1436;
  } 