.preloader {
    position: absolute;
display: none;
background-color: #ffffff;
left: 0;
right: 0;
bottom: 0;
width: 200px;
top: 14%;
height: 176px;
  }
  
  .lds-css.ng-scope {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  @keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  .lds-ripple {
    position: relative;
  }
  
  .lds-ripple div {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  .lds-ripple div:nth-child(1) {
    border-color: #eb1436;
  }
  
  .lds-ripple div:nth-child(2) {
    border-color: #eb1436;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  .lds-ripple {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  }
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left;

  }
  td{
      font-weight: 400;
      font-size: 1.1rem;
  }
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
        font-size: 0.85rem;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Tên Khóa Học"; }
    td:nth-of-type(3):before { content: "Tên Giảng Viên"; }
    td:nth-of-type(4):before { content: "Giá Tiền"; }
	td:nth-of-type(5):before { content: "Giảm Giá"; }
    td:nth-of-type(6):before { content: "Đánh Giá"; }
    td:nth-of-type(7):before { content: "Thao Tác"; }
	
}