
/* Left barr */
.u-order { border-bottom: 1px solid #d7d7d7; margin-bottom: 13px; }
.u-cate-list { border: 1px solid #d7d7d7; padding: 9px 12px; margin-bottom: 20px; }
.u-cate-list i { width: 30px; font-size: 18px; text-align: center; color: #f67052; vertical-align: middle; }

.u-cate-list h3 { font-size: 16px; font-weight: bold; border-bottom: 1px solid #d7d7d7; margin-bottom: 10px; padding-bottom: 5px;  }
.u-cate-list ul { list-style-type: none;}
.u-cate-list ul li { line-height: 35px;text-decoration: none }
.u-cate-list a { color: #262626;  }
.u-cate-list a:hover { color: #f67052; }
.u-hot-cate {  border: 1px solid #d7d7d7; padding: 9px 12px;  }
.u-hot-cate h3 { font-size: 16px; font-weight: bold; border-bottom: 1px solid #d7d7d7; margin-bottom: 10px; padding-bottom: 5px;  }
.u-hot-cate ul li { display: inline-block; line-height: 30px; margin: 9px 1px; }
.u-hot-cate span { font-size: 13px; font-weight: normal; }
.u-list-leftbar { padding-right: 0}
ul {
    list-style-type: none;
}
/* Main search */
.card{
    /* padding: 0; */
    /* margin-right: 10px; */
    margin-bottom: 20px;
}
.fa-star{
    color:yellow
}
.card {
    height: 315px;
    overflow: hidden; }
.card .card-body {
      padding: 1rem; }
.card .card-body .card-title {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 39px;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        -o-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        color: #29303b;
        font-size: 15px;
        font-weight: 600;
      margin-bottom: 0; }
.card .card-body .card-title a{
color: #ffffff;
}
 .card .card-body .card-text {
        color: #686f7a;
        font-size: 12px;
        font-weight: normal;
        margin: 5px 0; }
.card .card-body .star {
        color: #F4C150;
        font-size: 12px;
        font-weight: normal; }
.card .card-body .number_average {
        color: #686f7a;
        font-size: 13px;
        font-weight: 600; }
.card .card-body .number_rating {
        color: #686f7a;
        font-size: 13px;
        font-weight: normal; }
.card .card-body .price {
        text-align: right;
        padding: 10px 0;
       }
       
.card .card-body .price p:first-child {
          color: black;
          font-size: 20px;
          font-weight: 600;
          margin-right: 20px;
          /* text-decoration: line-through;  */
        }
 .card .card-body .price p:last-child {
          color: black;
          font-size: 14px;
          font-weight: 600;
         }
         .card .card-body a{
           /* color:#eb1436!important; */
         }